img{
    width: 30%;
    float: left;
    margin: 1.66%;
}

h1{
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 800;
    margin-left: 1.66%;
    font-size: 23px;
    width: 30%;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}